@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './step.scss';

body {
  height: 100%;
  font-size: 14px;
  color: #666;
  margin:0;
	padding:0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
  margin:0;
	padding:0;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
// a {
//   color: #409EFF;
// }

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	/*border:0;
	*/
    /*outline:0;
	*/
    /*font-size:100%;
	vertical-align:baseline;
	background:transparent;
	*/
}
h1,h2,h3,h4,h5,h6,em,i {
	font-style:normal;
}
ul,ol,li {
	list-style-type:none;
}
a {
	text-decoration:none;
	outline:0;
}
a:hover {
	text-decoration:none;
}

// main-container global css
.app-container {
  padding: 20px;
}
// .custom-form {
//   .el-row {
//     margin-bottom: 0px;
//   }
// }
.btm-distance {
  margin-bottom: 15px;
}
.null-style input.el-input__inner{
  border: 1px solid #f00;
}
.top-15 {
  margin-top: 25px;
  padding-bottom: 20px;
  float: right;
}
.table-scroll {
  width: 100%;
  overflow-x: scroll;
}